<a class="hidden-xs" href="http://s.click.taobao.com/t?e=m%3D2%26s%3DaUIV6lWLmqocQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAvFxC7HzfMsVBN5yKlTo1IICxNLxWxqxDPY8Eqzf%2BUWbOTauL6DcROffvu81lbXO1DDVuRn8ddiDsEVVC24eqozcHtRpEUy6RHVyxRO0gvF4QxJtmCgOmCLXl8Q7TEjBF%2BX11FSyvDCnQiv%2BJKjlPObGDmntuH4VtA%3D%3D">
    <img class="img-thumbnail full-fill" src="{{asset "img/aliyun-index-336-280.gif"}}" >
</a>