<a class="hidden-xs" href="http://s.click.taobao.com/t?e=m%3D2%26s%3DLHrw33Ll408cQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAvFxC7HzfMsVgnLIvrmmSwICxNLxWxqxDPY8Eqzf%2BUWbOTauL6DcROeQL2XgAGtI%2FTDVuRn8ddiDsEVVC24eqozcHtRpEUy6RHVyxRO0gvF4QxJtmCgOmCLXl8Q7TEjBF%2FKAgNLUle0RTNHcuSwiZDTGDmntuH4VtA%3D%3D">
    <img class="img-thumbnail full-fill" src="{{asset "img/aliyun-post-640-60.jpg"}}" >
</a>