<a class="hidden-xs"  href="http://s.click.taobao.com/t?e=m%3D2%26s%3Dak0E8C%2BoPPAcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAqzHs7%2Bz541PmOBYHCj3evACxNLxWxqxDPY8Eqzf%2BUWbOTauL6DcROffvu81lbXO1DDVuRn8ddiDsEVVC24eqozcHtRpEUy6RHVyxRO0gvF4QxJtmCgOmCLZ%2FNxlvga2vCGHCdjJcuceS4SBz60%2BbAhXSd1ORWLc9XEqY%2Bakgpmw">
    <img class="img-thumbnail full-fill" src="{{asset "img/aliyun-post-334-250.jpg"}}" >
</a>