<div class="bdsharebuttonbox share-icons" data-bd-bind="" data-tag="share_1">
	<a href="#" class="bds_more" data-cmd="more"></a>
	<a href="#" class="bds_mshare" data-cmd="mshare"></a>
	
	<a href="#" class="bds_tsina" data-cmd="tsina"></a>
	<a href="#" class="bds_tqq" data-cmd="tqq"></a>
	<a href="#" class="bds_qzone" data-cmd="qzone"></a>
	<a href="#" class="bds_weixin" data-cmd="weixin"></a>
	<a href="#" class="bds_sqq" data-cmd="sqq"></a>	
	<a href="#" class="bds_renren" data-cmd="renren"></a>
	<!-- <a class="bds_count" data-cmd="count"></a> -->
</div>
<script>
	window._bd_share_config = {
		common : {
			bdSnsKey	: {},
			bdMini		: "2",
			bdMiniList 	: false,
			bdStyle 	: "1",
			bdSize 		: "18",
			bdText 		: '内容',	
			bdDesc 		: '自定义分享摘要',	
			bdUrl 		: '自定义分享url地址', 	
			bdPic 		: '自定义分享图片'
		},
		share : [{
			"bdSize" : 20
		}],
		slide : [{	   
			bdImg : 0,
			bdPos : "right",
			bdTop : 100
		}],
		image : [{
			viewType : 'list',
			viewPos : 'top',
			viewColor : 'black',
			viewSize : '24',
			"viewText":"分享到：",
			"viewSize":"24",
			viewList : ["tsina","tqq","qzone","weixin","sqq"]
		}],
		selectShare : [{
			"bdContainerClass":null,
			"bdSelectMiniList":["tsina","tqq","qzone","weixin","sqq"]
			//"bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf']
		}]
	}
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>