<style type="text/css">

    .img-logo {
        display: block;
        margin: 25px auto;
        width:100px;
        height:100px;
    }
</style>

<div class="card">
    <div class="card-content">
        <img src="{{@blog.logo}}" class="img-thumbnail img-circle img-logo">
        <p style="text-align: center;"><strong style="color:#999">{{@blog.description}}</strong></p>
    </div>
</div>

