<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<span>Copyright &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a></span> | 
				<span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11008151号</a></span> | 
				<span>京公网安备11010802014853</span>
			</div>
		</div>
		<section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a> &amp; <a href="http://www.ghostchina.com">GhostChina</a> using modified <a href="http://git.oschina.net/didispace/Ghost-template-dodo">dodo</a> theme. </section>
	</div>
</div>