<!-- start widget -->
<div class="widget">
	<h4 class="title"><i class="fa fa-cloud-download">&nbsp;</i>下载 AutoTP</h4>
	<div class="content download">
		<a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载Ghost'])">AutoTP Beta（0.0.1）</a>
	</div>
</div>
<!-- end widget -->	