<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}"><i class="fa fa-angle-left"></i></a>
    {{/if}}
    <span class="page-number">第 {{page}} 页 &frasl; 共 {{pages}} 页</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}"><i class="fa fa-angle-right"></i></a>
    {{/if}}
</nav>