{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
 
{{! 引用博客封面}}
<!--{{>blog_cover}}-->

<main id="content" class="col-md-8 main-content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
	{{> loop}}

</main>

<aside class="col-md-4 sidebar">		
	
	{{! 社区导航 }}
	{{>comments}}	
	
	{{! 下载导航 }}
	{{>download}}
	
	{{! 友情链接 }}
	{{>flink}}

	{{! 标签云 }}
	{{>tag_cloud}}
	
	{{!阿里云广告}}
	<!--{{>adv_1}} -->	
	
</aside> 