{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
 
{{! 引用博客封面}}
<!--{{>blog_cover}}-->

<main id="content" class="col-md-8 main-content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
	{{> loop}}

</main>

<aside class="col-md-4 sidebar">		
	
	{{! 博客信息 }}
	{{>blog_info}}
	
	
	<div class="widget">
		<h4 class="title">社区</h4>
		<div class="content community">
			<p>QQ群：277327792</p>
			<p><a href="http://wenda.ghostchina.com/" title="Ghost中文网问答社区" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '问答社区'])"><i class="fa fa-comments"></i> 问答社区</a></p>
			<p><a href="http://weibo.com/ghostchinacom" title="Ghost中文网官方微博" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '官方微博'])"><i class="fa fa-weibo"></i> 官方微博</a></p>
		</div>
	</div>

	<!-- start widget -->
	<div class="widget">
		<h4 class="title">下载 Ghost</h4>
		<div class="content download">
			<a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载Ghost'])">Ghost 中文版（0.7.4）</a>
		</div>
	</div>
	<!-- end widget -->	
	
	
	{{! 友情链接 }}
	{{>flink}}

	{{!阿里云广告}}
	<!--{{>adv_1}}-->

	{{! 标签云 }}
	{{>tag_cloud}}
	
</aside> 