{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{#post}}
<main class="col-md-8 main-content" role="main">

    <article class="{{post_class}}">

        <header class="post-head">
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            {{content}}
        </section>

    </article>
</main>
{{/post}}

<aside class="col-md-4 sidebar">		

	{{! 社区导航 }}
	{{>comments}}	
	
	{{! 下载导航 }}
	{{>download}}		

	{{! 标签云 }}
	{{>tag_cloud}}
	
	{{! 友情链接 }}
	{{>flink}}
	
	{{!阿里云广告}}
	<!--{{>adv_1}} -->	
	
</aside> 
