{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
 
{{! 引用博客封面}}
<!--{{>blog_cover}}-->

<main id="content" class="col-md-8 main-content" role="main">

    <article class="post page">

		<header class="post-head">
			<h1 class="post-title">标签云</h1>
		</header>

		<section class="post-content widget">

			<div class="tag-cloud">
				{{#get "tags" limit="all"}}			
				{{#foreach tags}}
					<a href="{{url}}">{{name}}</a>
				{{/foreach}}
				{{/get}}
		
				<a href="/tag/backup/">备份</a>
				<a href="/tag/medium/">Medium</a>
				<a href="/tag/ghost-theme/">Ghost 主题</a>
				<a href="/tag/about-ghost/">Ghost</a>
				<a href="/tag/nodejs/">Node.js</a>
				<a href="/tag/nginx/">Nginx</a>
				<a href="/tag/aliyun-ecs/">阿里云服务器</a>
				<a href="/tag/mysql/">MySQL</a>
				<a href="/tag/analytics/">统计</a>
				<a href="/tag/template/">模板</a>
				<a href="/tag/template-engine/">模板引擎</a>
				<a href="/tag/handlebarsjs/">Handlebars.js</a>
				<a href="/tag/markdown/">Markdown</a>
				<a href="/tag/proxy/">反向代理</a>
				<a href="/tag/apache/">Apache</a>
				<a href="/tag/password/">密码</a>
				<a href="/tag/emberjs/">Ember.js</a>
				<a href="/tag/promise/">Promise</a>
				<a href="/tag/callback/">Callback</a>
				<a href="/tag/q/">Q</a>
				<a href="/tag/highlightjs/">highlight.js</a>
				<a href="/tag/language-highlight/">语法高亮</a>
				<a href="/tag/forever/">forever</a>
				<a href="/tag/upstart/">Upstart</a>
				<a href="/tag/pm2/">pm2</a>
				<a href="/tag/cross-platform/">跨平台</a>
				<a href="/tag/theme/">Theme</a>
				<a href="/tag/zhuti/">主题</a>
				<a href="/tag/inheritance/">继承</a>
				<a href="/tag/javascript/">JavaScript</a>
				<a href="/tag/prototype/">原型</a>
				<a href="/tag/bae/">BAE</a>
				<a href="/tag/qiniu/">七牛</a>
				<a href="/tag/npm/">NPM</a>
				<a href="/tag/ubuntu/">Ubuntu</a>
				<a href="/tag/google-fonts/">Google Fonts</a>
				<a href="/tag/ghost-in-depth/">深度玩转 Ghost</a>
				<a href="/tag/sqlite/">sqlite</a>
				<a href="/tag/database/">数据库</a>
				<a href="/tag/release/">新版本发布</a>
				<a href="/tag/theme-market/">主题市场</a>
				<a href="/tag/yong-hu-zhi-nan/">用户指南</a>
				<a href="/tag/shortcut/">快捷键</a>
				<a href="/tag/email/">邮件</a>
				<a href="/tag/handlebars/">Handlebars</a>
				<a href="/tag/upload/">上传</a>
				<a href="/tag/upyun/">又拍云存储</a>
				<a href="/tag/configuration/">配置文件</a>
				<a href="/tag/roon-io/">Roon.io</a>
				<a href="/tag/static-page/">静态页面</a>
				<a href="/tag/customize-page/">自定义页面</a>
				<a href="/tag/navigation/">导航</a>
				<a href="/tag/tag-cloud/">标签云</a>
				<a href="/tag/zhu-shou-han-shu/">助手函数</a>
				<a href="/tag/opensource/">开源</a>
				<a href="/tag/ghost-0-7-ban-ben/">Ghost 0.7 版本</a>
				<a href="/tag/jquery/">jQuery</a>
				<a href="/tag/android/">Android</a>
				<a href="/tag/ke-hu-duan/">客户端</a>
			</div>
		</section>

	</article>

</main>

<aside class="col-md-4 sidebar">		
	
	{{! 博客信息 }}
	{{>blog_info}}
	
	
	<div class="widget">
		<h4 class="title">社区</h4>
		<div class="content community">
			<p>QQ群：277327792</p>
			<p><a href="http://wenda.ghostchina.com/" title="Ghost中文网问答社区" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '问答社区'])"><i class="fa fa-comments"></i> 问答社区</a></p>
			<p><a href="http://weibo.com/ghostchinacom" title="Ghost中文网官方微博" target="_blank" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '官方微博'])"><i class="fa fa-weibo"></i> 官方微博</a></p>
		</div>
	</div>

	<!-- start widget -->
	<div class="widget">
		<h4 class="title">下载 Ghost</h4>
		<div class="content download">
			<a href="/download/" class="btn btn-default btn-block" onclick="_hmt.push(['_trackEvent', 'big-button', 'click', '下载Ghost'])">Ghost 中文版（0.7.4）</a>
		</div>
	</div>
	<!-- end widget -->	
	
	
	{{! 友情链接 }}
	{{>flink}}

	{{!阿里云广告}}
	<!--{{>adv_1}}-->

	{{! 标签云 }}
	{{>tag_cloud}}
	
</aside> 